[run]
branch = False
omit =
    safi/app/wsgi/application.py
    safi/runtime/*
    safi/environ.py

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
